<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-1">
      <!-- Section: Text -->
      <section class="mb-1">
        <a class="navbar-brand col-3 p-15" href="#">
          <i class="bi bi-wrench-adjustable-circle  "></i>
          <samp class="Easy">Easy</samp> <span class="Fix">Fix</span> 
        </a>
        <div class="w-100 d-flex nose">
          <div class="w-50 d-flex nose1">
            <i class="bi bi-shield-check mr-10"></i>
            <h5 class="m-0">Compras protegidas</h5>
          </div>
          <div class="w-50 d-flex nose1">
            <i class="bi bi-person-check mr-10" ></i>
            <h5 class="m-0">Profesionales verificados</h5>
          </div>
        </div>
      </section>
      <!-- Section: Text -->
    <!-- Section: Social media -->
    <section class="mb-1 social">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>

    <!-- Section: Links -->
    
        <div class="botton-footer">
          <ul class=" d-flex list-unstyled mb-0 botton-footer">
            <li>
              <a href="/"><button type="button" class="btn btn-outline-danger btn-floating m-1">Inicio</button></a>
            </li>
            <li>
              <a href="#contact"><button type="button" class="btn btn-outline-danger btn-floating m-1">Contacto</button></a>
            </li>
            <li>
              <a href="/account"><button type="button" class="btn btn-outline-danger btn-floating m-1">Cuenta</button></a>
            </li>
            <li>
              <li>
                <a href="/account"><button type="button" class="btn btn-outline-danger btn-floating m-1">Carrito</button></a>
              </li>
              <li>
              <a href="/login"><button type="button" class="btn btn-outline-danger btn-floating m-1">Ingresa</button></a>
            </li>
          </ul>
        </div>

      
  </div>

  <!-- Profession Cards -->

  

  <!-- Copyright -->
  <div class="text-center p-1 bg-footer font-s" >
    © 2020 Copyright: EASY FIX
  </div>
  <!-- Copyright -->
</footer>