<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <!-- <link rel="stylesheet" href="css/styles-table.css">
    <link rel="stylesheet" href="css/styles-laptop.css"> -->
    <title>Mercado Libre</title>
</head>
<body class="bg-light-grey">
    <header class= "p-8 bg-yellow"> 
        <div class="flex wrap flex-align-center">
            <h1 class="w-50 w-33">
                <img src="/img/logo-mercado-liebre.svg" width="100%">
            </h1>
            <div class="search-bar w-50 w-33 m-center">
                <input type="text" name="search" placeholder="search">
                <button><i class="fas fa-search"></i></button>                 
            </div>
            <p class="text-center w-100 w-33"><i class="fas fa-hand-holding-usd pr-8"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="nav-bar mt-8">
            <ul class="nav-section mb-8">
                    <li></i><a href="#">Ofertas</a ></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="nav-section mb-8">
                    <li><a href="/register"class="pr-8">Crea tu cuenta</a ><i class="fas fa-id-card"></i></li>
                    <li><a href="/login"class="pr-8">Ingresa</a ><i class="fas fa-sign-in-alt"></i>
                    <li><a href="#" class="pr-8">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
                </div>
    </header>

    <img src="/img/img-home-banner.jpg" width="100%">

    <main class="p-8 w-90 m-center">
        
    <section class="flex wrap mt-16">
           
            <h2 class="font-h mb-8 w-100 font-dgrey">Basado en tu ultima visita</h2>
    
            <div class="w-100 w-tablet-50 w-compu-25 p-8"> 
                <article class="mb-8 bg-white">
                    <img src="/img/img-cafetera-moulinex.jpg" width="100%">
                    <div class="p-8 relative border-top-solid-grey flex wrap flex-align-center">
                        <i class="fas fa-truck truck-green"></i>
                        <p class="f-18 mr-8 grow-30">$6.770 </p>
                        <p class="f-16 font-green grow-70">40% OFF</p>   
                        <h3 class="product-title f-16 w-100">Cafetera Moulinex</h3> 
                    </div>
                </article >
            </div>
            <div class="w-100 w-tablet-50 w-compu-25 p-8">
                <article class="producto mb-8 bg-white">
                    <img src="/img/img-macbook-pro-2019.jpg" width="100%">
                    <div class="p-8 relative border-top-solid-grey flex wrap flex-align-center">
                        <i class="fas fa-truck truck-green"></i>
                        <p class="f-18 mr-8 grow-30">$230.000 </p>
                        <p class="f-16 font-green grow-70">20% OFF </p>  
                        <h3 class="product-title f-16 w-100">MacBook Pro 2019</h3> 
                    </div>
                </article>
            </div>
            <div class="w-100 w-tablet-50 w-compu-25 p-8">
                <article class="producto mb-8 bg-white">
                    <img src="/img/img-samsung-galaxy-s10.jpg" width="100%">
                    <div class="p-8 relative border-top-solid-grey flex wrap flex-align-center">
                    <i class="fas fa-truck truck-green"></i>
                    <p class="f-18 mr-8 grow-30">$70.500 </p> 
                    <p class="f-16 font-green grow-70">10% OFF</p> 
                    <h3 class="product-title f-16 w-100">Samsung Galaxy S10</h3></p>
                    </div>
                </article>
            </div>
            <div class="w-100 w-tablet-50 w-compu-25 p-8">
                <article class="producto mb-8 bg-white">
                    <img src="/img/img-tv-samsung-smart.jpg" width="100%">
                    <div class="p-8 relative border-top-solid-grey flex wrap flex-align-center">
                    <i class="fas fa-truck truck-green"></i>
                    <p class="f-18 mr-8 grow-30">$23.200 <p> 
                    <p class="f-16 font-green grow-70">5% OFF</p> 
                    <h3 class="product-title f-16 w-100">SmartTv Samsung 43"</h3>
                    </div>
                </article>
            </div>
        </section>  
        <section class="flex wrap mt-16">
            <h2 class="font-h mb-8 w-100 font-dgrey">Basado en tu ultima visita</h2>

            <div class="w-100 w-tablet-50 w-compu-25 p-8"> 
                <article class="producto mb-8 bg-white">
                    <img src="/img/img-cafetera-moulinex.jpg" width="100%">
                    <div class="p-8 relative border-top-solid-grey flex wrap flex-align-center">
                    <i class="fas fa-truck truck-green"></i>
                    <p class="f-18 mr-8 grow-30">$6.770 </p>
                    <p class="f-16 font-green grow-70">40% OFF</p>   
                    <h3 class="product-title f-16 w-100">Cafetera Moulinex</h3> 
                    </div>
                </article >
            </div>
            <div class="w-100 w-tablet-50 w-compu-25 p-8">
                <article class="producto mb-8 bg-white">
                    <img src="/img/img-macbook-pro-2019.jpg" width="100%">
                    <div class="p-8 relative border-top-solid-grey flex wrap flex-align-center">
                    <i class="fas fa-truck truck-green"></i>
                    <p class="f-18 mr-8 grow-30">$230.000 </p>
                    <p class="f-16 font-green grow-70">20% OFF </p>  
                    <h3 class="product-title f-16 w-100">MacBook Pro 2019</h3> 
                    </div>
                </article>
            </div>
            <div class="w-100 w-tablet-50 w-compu-25 p-8">
                <article class="producto mb-8 bg-white">
                    <img src="/img/img-samsung-galaxy-s10.jpg" width="100%">
                    <div class="p-8 relative border-top-solid-grey flex wrap flex-align-center">
                    <i class="fas fa-truck truck-green"></i>
                    <p class="f-18 mr-8 grow-30">$70.500 </p> 
                    <p class="f-16 font-green grow-70">10% OFF</p> 
                    <h3 class="product-title f-16 w-100">Samsung Galaxy S10</h3></p>
                    </div>
                </article>
            </div>
            <div class="w-100 w-tablet-50 w-compu-25 p-8">
                <article class="producto mb-8 bg-white">
                    <img src="/img/img-tv-samsung-smart.jpg" width="100%">
                    <div class="p-8 relative border-top-solid-grey flex wrap flex-align-center">
                    <i class="fas fa-truck truck-green"></i>
                    <p class="f-18 mr-8 grow-30">$23.200 <p> 
                    <p class="f-16 font-green grow-70">5% OFF</p> 
                    <h3 class="product-title f-16 w-100">SmartTv Samsung 43"</h3>
                    </div>
                </article>
            </div>
        </section>
    </main>
<!-- usar el <section></section> y <article></article>, remmplazarlos por el div -->    
    <footer class="bg-white">
        <div class="section-footer p-15">
            <div >
            <div class="credit-card"><i class="fas fa-credit-card icon"></i></div>
                <div class="text-center">
                <h4 class="font-dgrey">Pagá con tarjeta o en efectivo</h4>
             <p class="p-8">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        </div>
      <div>
          <div class="gift"><i class="fas fa-gift icon"></i></div>
        <div class="text-center">
            <h4 class="font-dgrey">Envío gratis desde $ 2.500</h4>
            <p class="p-8">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </div>
      </div>
        <div>
            <div class="shield"><i class="fas fa-user-shield icon"></i></div>
        <div class="text-center">
            <h4 class="font-dgrey">Seguridad, de principio a fin</h4>
            <p class="p-8">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </div>
        </div>
        
        </div>
        
        <div class="p-15">Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
    </footer>
</body>
</html>

<!-- FALTA COLOCAR LA BARRA DE BUSQUEDA-->