@media (min-width: 481px) {
    .description {
        display: block;
    }
    .nav {
        display: block;
    }
    .burger-menu {
        display: none;
    }
    /* .articulo {
    width: 50%;
    }
    .nav {
        display: flex;
        justify-content:center;
        padding: 10px;
    }
    .nav ul {
        display: flex;
    }
    .nav li {
        margin: auto;
        padding-right: 10px;
    }
    .burger-menu {
        display: none;
    }
    .container-flex {
        display: flex ;
        flex-wrap: wrap;
        justify-content: space-between;
    } */

}
